@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

div {
  margin: 12px 0px 12px 0px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  background-color: hsl(0, 0%, 12%);
  height: 600px;
  width: 370px;
  padding: 25px;
}

@media only screen and (max-width: 570px) {
  .container {
    max-width: 370px;
    max-height: 600px;
  }
}

#photos {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 24px;
}

#primary_name {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

#secondary_name {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  font-size: 1rem;
}

#third_name {
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
  padding: 1.5rem 0.8rem;
  font-weight: 400;
}

#social_media {
  /* display: flex;     */
  width: 100%;
}

.button {
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  border-radius: 8px;
  padding: 12px 0;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
}

.button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}
